.container {
  padding: 0px 0.4em;
}
.top {
  background: #e6f0ff;
}
@media (min-width: 500px) {
  .container {
    padding: 0px 0.8em;
  }
}

@media (min-width: 730px) {
  .container {
    padding: 0px 0.8em;
  }
}
@media (min-width: 830px) {
  .container {
    padding: 0px 1em;
  }
}

@media (min-width: 930px) {
  .container {
    padding: 0px 2em;
  }
}

@media (min-width: 1030px) {
  .container {
    padding: 0px 3em;
  }
}

@media (min-width: 1130px) {
  .container {
    padding: 0px 4em;
  }
}

@media (min-width: 1230px) {
  .container {
    padding: 0px 5em;
  }
}

@media (min-width: 1330px) {
  .container {
    padding: 0px 6em;
  }
}

@media (min-width: 1500px) {
  .container {
    padding: 0px 165px;
  }
}
