.footer {
  margin-top: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-top: 1px solid #10101012;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  justify-content: space-between;
}

.links h1 {
  margin: 0;
  color: #1c1c1dc5;
  font-family: Lato;
  font-size: 1rem;
  line-height: normal;
  margin-bottom: 0.5em;
}

.links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.links ul li,
.links p {
  color: #7a7a7e;
  font-size: 0.8rem;
  line-height: normal;
}

.footnote {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1.5em;
}

.footnote h1 {
  margin: 0;
  color: #101010e3;
  font-size: 1rem;
}

.footnote p {
  color: #c2c2c2;
  font-size: 0.8rem;
}

.socials {
  display: flex;
  gap: 2em;
}

@media (min-width: 500px) {
  .footnote h1 {
    font-size: 1.2rem;
  }

  .footnote p {
    font-size: 1rem;
  }

  .links ul li,
  .links p {
    font-size: 1rem;
  }

  .footer {
    margin-top: 5%;
    padding-top: 5%;
  }
}
