header {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
}

.img img {
  display: block;
}

.cta {
  /* border: 1px solid red; */
  width: 38%;
  /* margin-bottom: auto; */
  /* margin-top: 2rem; */
}

.cta h2 {
  color: #687690;
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 1rem;
}

.cta h1 {
  color: #000336;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.75rem;
  margin: 0;
}

.cta p {
  color: #5a6473;
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 400;
  text-transform: capitalize;
  margin-top: 1rem;
}

.cta .links {
  display: flex;
  gap: 3rem;
  margin: 3.5rem 8.6875rem 2.5rem 0;
}

.cta a {
  background: #0f1b4c;
  border-radius: 12px;
  color: #ededed;
  padding: 1rem 0rem;
  display: block;
  width: 50%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}
